---
  import metadata from "./metadata.js"
  import "../styles/reset.scss"
  import "../styles/global.scss"
  import { SEO } from "astro-seo"
  import Quicklink from "../scripts/Quicklink.astro"
  // import Flickity from "../scripts/Flickity.astro"
  // import Rellax from "../scripts/Rellax.astro"

  const {title, colors, fonts, openGraph } = metadata;
  // let palette = new Array();
  // let palette = colors.map((each) => [each])

  const description = Astro.props.description || metadata.description || "descriptions of something"
  const image = Astro.props.description || metadata.image || null
  const canonical = Astro.props.canonical || metadata.canonical || undefined
  const slug = Astro.props.slug || undefined
---
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title set:html={title}></title>
    <SEO title={slug ? `${title} | ${slug}` : title} description={description} canonical={canonical} />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- Font preloading -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin />
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&family=Open+Sans:wght@400;600;700&family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet" />
  </head>
  <body>
  <!-- insert nav elements -->
    <slot />
  </body>
  <!-- Link prefetching library -->
  <Quicklink />

  <style ></style>
  
</html>
